@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Syne:wght@400..800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nanum+Gothic+Coding&family=Quicksand:wght@300..700&family=Syne:wght@400..800&display=swap');


@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/about.css");
@import url("sections/products.css");


:root {
    --syne: "Syne";
    --quicksand: "Quicksand";
    --barlow: "Barlow";
    --jakarta: "Plus Jakarta Sans";
    --nanum: "Nanum Gothic Coding";

    --primary-color: rgb(13, 119, 101);
    --secondary-color: rgb(17, 144, 122);
    --background-color: rgb(208, 255, 243);
}

body {
    margin: auto;
    background: #d9f6ef;
}

footer {
  border-top: 1px solid black;
  margin: auto 10%;
  font-family: var(--jakarta);
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 50px;
}

@media screen and (max-width: 915px) {
  .hero {
    flex-direction: column;
  }
  .hero img {
    max-height: 45vh;
    padding: 0 4%;
    padding-top: 100px;
  }
  .hero-image {
    max-height: 40vh;
  }

  .hero-content-info{
    align-items: center;
    text-align: center;
  }


  .about-us__title{
    font-size: 35px;
    font-weight: 500;
  }

  .about-us__image img {
    width: 30%;
    float: right;
    margin: 50px;
}

.hero-content__start-button {
  min-width: 182px;
}

.hero-content__buttons {
  margin: 41px 41px 0 41px; /* Adjusted margin values */
  display: flex;
  flex-wrap: wrap;
}
}

@media screen and (max-width: 700px) {
  .about-us__image img {
    width: 0;
  }


  .mobile-menu {
    font-size: 0px;
  }
  .header__menu-mobile {
    display: flex;
    padding: 0 16px;
    border-radius: 50px;;
  }

  .header__menu-mobile:hover {
    background-color: rgba(0, 0, 0, 0.416);
  }

  .header__menu-mobile:active {
    background-color: rgba(0, 0, 0, 0.482);
  }

  .header__menu {
    all: initial;
    margin-top: 78px;
    position:fixed;
    right: 0;
    background: rgb(13, 119, 101);
    width: 250px;
    height: 100vh;
    list-style: none;
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    transition-duration: 0.3s;
  }

  .header__menu.show-menu{
    transform: translateX(100%);
    transition-duration: 0.3s;
  }

  .header__menu li a {
    font-size: 1.5em;
    color: rgb(198, 255, 228);
  }

  .hero_content {
    padding-left: 0;
}

  .hero-content-info h1,
  .hero-content-info p {
  text-align: center;
  }
  .hero-content-info h1 {
    font-size: 45px;
  }
}