@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");


@import url("sections/header.css");


:root {
    --syne: "Syne";

    --primary-color: rgb(13, 119, 89);
    --secondary-color: rgb(154, 234, 215);
}