*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
:root{
    --text-color: #fff;
    --bg-color: #04473c;
    --main-color: #17c1a1;
    
    --h1-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
    
}

header {
    z-index: 1000;
    top: 0;
    right: 0;
    width: 100%;
    background: transparent;
    padding: 27px 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
}

.logo {
    font-size: 33px;
    font-weight: 400;
    font-family: syne;
    color: var(--text-color);
}
.navbar{
    display: flex;
}
.navbar a {
    font-family: syne;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 300;
    margin: 15px 22px;
    transition: all .50s ease;
}
.navbar a:hover {
    color: var(--main-color);
}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to left, rgba(0,0,0,0.6),rgba(0,0,0,0,3)), url(https://th.bing.com/th/id/OIP.x9ujcjh6RUXOtjRKnMtikwHaFB?rs=1&pid=ImgDetMain);
    background-size: cover;
    background-position: bottom center;
    display: flex;

}
/*
.home h1{
    font-size: 40px;
    font-weight: 500;
    font-family: abel;
    color: var(--text-color);
    padding-top: 50px;
    padding-left: 15%;
}
*/