.page {
    height: 100vh;
    width: 50%;
    position: absolute;
    z-index: 1;
    top: 0;
    padding-bottom: 300px;
}

.left{
    background-color: #0a4934;
    opacity: 1;
    background-image: radial-gradient(#1c6743 1.2px, #0a4934 1.2px);
    background-size: 24px 24px;
    left: 0;
}

.right{
    right: 0;
    z-index: 100;
    background-color: rgb(194, 243, 130);
}
.agenda-section {
    padding: 2% 100px 0 6%;
    opacity: 1;
}

.menu-button {
    padding-top: 100px;
    width: 3rem;
    color: #ffffff;
    cursor: pointer;
}

.overview {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    font-family: var(--quicksand);
    font-size: 1rem;
    color: #6dc219f3;
}

.content p{
    color: #68a484
}

.img {
    display: inline-block;
    position: relative;
    
}
.img i {
    color: #68a484;
    font-size: 4.5rem;
    padding-right: 2rem;
}

.category-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 40px 0 10px;
    max-width: 650px;
}

.category {
    border-radius: 0.5rem;
    padding: 1.5rem 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 2px 1px #135a19;
    transition: all 0.2s;
    font-family: var(--quicksand);
    font-weight: 500;
    font-size: 1rem;
    color: white;
    background-color: #54845cdb
}

.category:hover {
    transform: translateY(-4px);
    box-shadow: 0 2px 4px 1px #2f693f;
}


.notes {
    align-items: right;
    flex: 1;
    width: 40%;
}

@media screen and (max-width: 750px){
    .page {
        width: 100%;
        z-index: 1;
        top: 0;
    }
    .left {
        z-index: 10000;
    }
}

form {
    display: flex;

}

.btn {
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
    color: white;
    font-size: 1.2rem;
}

.new {
    background: transparent;
    border: none;
    border-bottom: 1px solid #FFF;
    font-size: 1.2rem;
    margin-left: 10px;
    outline: none;
    color: #FFF;
    font-size: inherit;
    font-family: var(--quicksand);
    order: 2;
}

.new:focus {
    border-bottom-width: 3px;
}

.new:focus::placeholder {
    opacity: 0.6;
}

input {
    padding: 0 0 10px;
}

.active-category {
    background-color: #aeffdc;
}

.task-list {
    position: absolute;
    height: 100px;
    width: 100px;
    left: -100%;
}

.screen{
    min-width: 100%;
    flex: 1;
    transition: all 0.3s;
}

.agenda-section.show-category .category-section{
    transform: translateX(200%);
}

.agenda-section.show-category .task-list{
    transform: translateX(100%);
}

.overview {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-list {
    padding-left: 20px;
}

.task-header i{
    padding-top: 100px;
    color: #FFF;
    font-size: 3.5rem;
    cursor: pointer;
}

.task-header h2{
    font-family: var(--quicksand);
    font-size: 1.5rem;
    color: #6dc219f3;
}

.task-header p{
    font-family: var(--quicksand);
    color: #68a484
}

.tasks {
    max-width: 60%;
}

.task {
    border-radius: 0.5rem;
    padding: 1.5rem 1.2rem;
    cursor: pointer;
    display: flex;
    margin: 1rem 0;
    
    justify-content: space-between;
    box-shadow: 0 2px 2px 1px #135a19;
    transition: all 0.2s;
    font-family: var(--quicksand);
    font-weight: 500;
    font-size: 1rem;
    color: white;
    background-color: #54845cdb
}

.task .delete {
    border-radius: 40%;
    color: #2e2e2e;
    cursor: pointer;
    visibility: hidden;
}

.task:hover .delete {
    visibility: visible;
    opacity: 1;
}

.task .delete:hover {
    color: red;
}