.about-us {
    display: flex;
    min-height: 600px;
    overflow: hidden;
    background: #FFF;
}

.about-us__image {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: #fff;

    position: relative;
}

.about-us__image div {
    padding: 32px auto;

    flex: 1;
    display: flex;
    align-items: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.about-us__image-about {
    width: 100%;
}

.about-us__image-about img{
    padding-right: 100px;
    width: 90%;
}

.about-us__content {
    margin: auto;
    padding: 4%;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-us__subtitle {
    text-transform: uppercase;
    font-family: var(--barlow);
}

.about-us__title {
    margin: 0;
    padding-bottom: 10px;
    font-family: var(--quicksand);
    font-size: 50px;
    font-weight: 500;
}

.about-us__description {
    font-family: var(--jakarta);
    font-size: 17px;
    font-weight: 300;
}