
header {
    position: fixed;
    top: 0;
    background-color: rgb(7, 60, 51);
    width: 100%;
    z-index: 1000000;
}

header.sticky {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Add box shadow */
}

.header__nav {
    display: flex;
    overflow: hidden;
}

.header__logo {
    flex: 1;
    display: flex;
    position: relative;
    padding: 15px 50px;
    z-index: 100000;
}

/* .header__logo-overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    background-color: var(--primary-color);
    z-index: -1;
} */


.header__logo a {
    text-decoration: none;
    padding-left: 3%;

    font-weight: 400;
    font-size: 40px;
    font-family: var(--syne);
    color: #fff;
    
}

.header__menu {
    padding: 15px 10px;
    padding-right: 60px;
    flex: 1.274;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 4rem;

    list-style: none;
}

.header__menu li a{
    text-decoration: none;
    font-family: var(--syne);
    color: var(--secondary-color);
    font-size: 20px;
    text-transform: lowercase;
    line-height: 10px;
    cursor: pointer;
    
}

.header__menu li a:hover {
    color: #4dc6ae;
}

.header__menu li i {
    color: var(--secondary-color);
}

.header__menu-mobile {
    padding-right: 9%;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    gap: 4rem;

    list-style: none;
    position: relative;
}

#menu {
    font-size: 22px;
    color: #FFF;
}