@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Myanmar:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+Hanunoo&display=swap');

*{
    font-family: "Reddit Sans",roboto,"Noto Sans Myanmar UI",arial,sans-serif;
}
body {
    background-color: #f0f4f9;
    padding: 8% 13% 0 13%;
    overflow: hidden;
}

h1{
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
    margin-top: 3%;
}
h2{
    font-weight: 380;
    font-size: 0.95rem;
}
.frame {
    display: grid;
    margin: auto;
    background-color: white;
    border-radius: 25px;
}
.left{
    grid-column: 1;
    padding: 9%;
    padding-bottom: 30%;
    z-index: 1000;

}
.right {
    grid-column: 2;
    padding: 16%;
    padding-top: 17%;
    padding-bottom: 6%;
    padding-right: 12%;
    z-index: 0;

}
input{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    font-weight: 400;
    border-radius: 4px;
    letter-spacing: 0.0005rem;
    font-size: 0.875rem;
}
.forgot {
    opacity: 0.99;
    margin: 4px;
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    text-decoration: none;
    color: #0b57d0;
    border-radius: 7px;
    display: inline-block;
    font-weight: 450;
    letter-spacing: 0.038rem;
    outline: 0;
    z-index: 1;
    font-size: 0.8rem;
    padding: 1px 5px;
    margin: 5px -5px;
}

.forgot:hover{
    background-color: #ecf2fc;
}
.not {
    color: #444746;
    font-size: 0.76rem;
    margin-bottom: -1px;
    letter-spacing: 0.00001rem;
    padding-top: 30px;
}

.inputBox {
   position: relative; 
   opacity: 1;
}
.inputBox input {
    width: 100%;
    padding: 12px 13px 13px 13px;
    border: 1px solid #1f1f1f;
    outline: none;
    /*font-family: "Noto Sans Hanunoo", sans-serif;*/
    font-family: "Reddit Sans",roboto,"Noto Sans Myanmar UI",arial,sans-serif;
    height:25px;
    opacity: 0.85;
    font-weight: 400;
    font-stretch: condensed;
    letter-spacing: 0.00000001rem;
    font-size: 0.95rem;
}
.inputBox span {
    position: absolute;
    top: 0;
    padding: 16.8px 13px;
    pointer-events: none;
    font-size: 0.9rem;
    color: #1f1f1f;
    transition: 0.14s;
}

.inputBox input:focus ~ span{
    font-size: 0.7rem;
    transform: translateX(8px) translateY(-8px);
    background-color: white;
    color: #0b57d0;
    padding: 0 5px;
    font-weight: 500;
    opacity: 1;
}
.inputBox input:focus {
    border: 2px solid #0b57d0;
    margin: -0.18%;
}
.inputBox input:valid ~ span{
    font-size: 0.7rem;
    transform: translateX(8px) translateY(-8px);
    background-color: white;
    padding: 0 5px;
    opacity: 1;
}

.learn{
    position:absolute;
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    text-decoration: none;
    color: #0b57d0;
    border-radius: 7px;
    display: inline-block;
    font-weight: 480;
    letter-spacing: 0.03rem;
    outline: 0;
    z-index: 1;
    font-size: 0.76rem;
    padding: 0 5px;
    margin: 2px -5px;
    margin-bottom: 40px;
}

.learn:hover{
    background-color: #ecf2fc;
}

.buttons {
    margin: 0 -28px;
    margin-top: 15%;
}

.buttons .next {
    float: right;
    align-items: center;
    background-color: #0b57d0;
    border-radius: 27px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 38px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 72px;
  background-image: linear-gradient(#0c4197, #0c4197);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: 0.1s;
}

.buttons .next:hover{
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
    background-color: #0e4eb5;
}

.buttons .next:active{
    background-size: 100% 100%;
    background-color: #0c4197;
}

.buttons .create{
    float: right;
    align-items: center;
    background-color: transparent;
    border-radius: 27px;
  border-style: none;
  box-sizing: border-box;
  color: #0b57d0;
  cursor: pointer;
  display: inline-flex;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 38px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 12px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  transition: 0.15s;
  margin-right: 20px;
}

.buttons .create:hover{
    background-color: #f5f8fd;
}

.bottom{
    text-decoration: none;
    float: right;
    color: #1F1F1F;
    font-size: 0.72rem;
    margin: 13px 5px;
    padding: 6px 11px;
}

.bottom:hover{
    background-color: #e2e7eb;
    border-radius: 5px;
}

.language{
    text-decoration: none;
    float:left;
    color: #1F1F1F;
    font-size: 0.72rem;
    margin: 13px 5px;
    padding: 6px 11px;
    cursor: pointer;
}

.language:hover{
    background-color: #e2e7eb;
    border-radius: 5px;
}

/* Add these to your existing CSS */

@keyframes slide-left {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-30%);
      opacity: 0;
    }
  }

@keyframes slide-password {
    0% {
      transform: translateX(0);
      opacity: 0;
    }
    100% {
      transform: translateX(-300%);
      opacity: 1;
    }
  }
  
  .slide-out {
    animation: slide-left 0.2s forwards;
  }

  .slide-in {
    animation: slide-password 0.3s forwards;
  }
  
  
.password{
    position: absolute;
    right: -30%;
    top:40%;
}
.frame {
    position: relative; /* Add this to ensure the loading bar is positioned relative to the frame */
    display: grid;
    margin: auto;
    background-color: white;
    border-radius: 25px;
    overflow: hidden; /* Ensure overflow is hidden to not display content outside */
}

.animated-load {
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    background: #3F51B5;
    height: 3.5px;
    animation: load-line 0.8s infinite linear; /* Increased duration and added ease-in-out */
}

@keyframes load-line {
    0% {
        animation-timing-function: cubic-bezier(.15,0,.515058,.409685);
        transform: translateX(-35.888891%)
    }

    25% {
        animation-timing-function: cubic-bezier(.310330,.284058,.8,.733712);
        transform: translateX(-17.236978%)
    }

    48.35% {
        animation-timing-function: cubic-bezier(.4,.627035,.6,.902026);
        transform: translateX(29.497274%)
    }

    to {
        transform: translateX(140.388891%)
    }
}

.pinputBox {
    position: relative; 
    opacity: 1;
 }
 .pinputBox input {
     padding: 12px 13px 13px 13px;
     border: 1px solid #1f1f1f;
    outline: none;
     height:25px;
     letter-spacing: 0.12rem;
     opacity: 0.85;
     font-size: 13px;
 }
 .pinputBox span {
     position: absolute;
     top: 0;
     padding: 16.8px 13px;
     pointer-events: none;
     font-size: 0.9rem;
     color: #1f1f1f;
     transition: 0.14s;
 }
 
 .pinputBox input:focus ~ span{
     font-size: 0.7rem;
     transform: translateX(8px) translateY(-8px);
     background-color: white;
     color: #0b57d0;
     padding: 0 5px;
     font-weight: 500;
     opacity: 1;
 }
 .pinputBox input:focus {
     border: 2px solid #0b57d0;
 }
 .pinputBox input:valid ~ span{
     font-size: 0.7rem;
     transform: translateX(8px) translateY(-8px);
     background-color: white;
     padding: 0 5px;
     opacity: 1;
 }